#zurueck-button {
    display: flex;
    bottom: 30px;
    right: 60px;
    left: auto;
    top: auto;
    text-align: center;
    position: fixed; /* Ändere dies von absolute zu fixed */
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d !important; 
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 100000;
    border: none;
    box-shadow: 0 0 0 2px #ffffff20;
    color: #ffffffa2;
    font-weight: 600;
    font-size: 16px !important;
}

#zurueck-button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
    width: 20px!important;
    height: 20px!important;
}

#zurueck-button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-10px);
}

#zurueck-button:hover {
    box-shadow: 3px 3px 20px #2af01873, -3px -3px 20px #067c0257;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    #zurueck-button {
        bottom: 15px;
        right: 25px;
        left: auto;
        top: auto;
        height: 2.5em;    
        width: 80px;      
        font-size: 7px;  
    }

    #zurueck-button > svg {
        font-size: 16px;  
    }
}
