* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
    text-align: center;
}




#score-container {
    margin: 30px 0;
    color: #ffffffa2;
}

#betting-container {
    margin: 20px 0;
}

.message {
    margin-top: 15px;
    font-size: 18px;
    color: #e74c3c;
}

input {
    color: #ffffffa2;
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 2px #ffffff20;
    font-weight: 600;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    width: 100%;
}

input:hover {
    box-shadow: 0 0 0 2px #21f32c60;
    color: #ffffff;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #21f32c60;
    color: #ffffff;
}

.bet-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bet-button {
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 18px 10px;
    border: none;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffffa2;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: rgba(0, 0, 0, 0.301);
}

.bet-button:hover {
    box-shadow: 0 0 0 5px #21f32c60;
    color: #ffffff;
}

#roulette-container {
    max-width: 600px;
    margin: 45px auto;
    padding: 20px;
    text-align: center;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #41414160;
}

#wheel-wrapper {
    margin: 40px 0 20px 0;
    position: relative;
    display: inline-block;
}

#roulette-wheel {
    width: 300px;
    transition: transform 1s;
}

#roulette-ball {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
}
.bet-container {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 280px;
}

#bet-amount {
    width: 100%;
    padding-left: 160px;
    box-sizing: border-box;
}

#textforSetBet {
    position: absolute;
    left: 10px;
    top: 49%;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .bet-container {
        width: 230px;
    }
    #bet-amount {
        padding-left: 125px;
    }

    #textforSetBet {
        left: 5px; /* Adjust text positioning on mobile */
        font-size: 13px;
    }


    #score-container {
        font-size: small;
    }

    #roulette-container {
        max-width: 90%; 
        padding: 15px;
        margin-top: 0;
        background-color: inherit;
    }
    
    #roulette-wheel {
        width: 200px; 
    }
    
    #roulette-ball {
        width: 12px; 
        height: 12px;
    }

    .bet-button {
        padding: 10px 8px;
        font-size: 14px; 
    }

    .message {
        font-size: 0.8em;
    }

    #result {
        font-size: 0.8em;
    }


}
