#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(0.5rem);
}

body {
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

.terminal {
    padding: 20px;
    width: 90vw; /* Breite auf 90% des Viewports setzen */
    max-width: 1600px; /* Maximale Breite für größere Bildschirme */
    height: auto; /* Höhe anpassen, um den Inhalt zu passen */
    overflow-y: auto;
    float: left;
    margin: 0 auto; /* Zentriert den Container */
}

.output {
    white-space: pre;
    overflow-y: auto;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
    color: green;
}

.bigAsciiArt {
    font-size: xx-large;
    color: green;
    margin-right: 5px;
}

.firstHelpText {
    font-size: x-large;
    color: green;
    margin-top: -30px;
    margin-right: 5px;
}

input {
    font-size: large;
    background: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    flex-grow: 1;
}

/* Zurück Button */ 
#zurueck-button {
    display: flex;
    bottom: 20px;
    right: 20px;
    left: auto;
    top: auto;
    text-align: center;
    position: absolute;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #121212;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    color: #12c600;
    position: fixed;
}

#zurueck-button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

#zurueck-button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

#zurueck-button:hover {
    box-shadow: 9px 9px 33px #12c600, -9px -9px 33px #12c600;
    transform: translateY(-2px);
}



/* Media Query für Bildschirme mit maximal 768px Breite */
@media only screen and (max-width: 768px) {
    body {
        font-size: small; /* Kleinere Schriftgröße für mobile Geräte */
        padding: 10px; /* Weniger Padding */
    }

    .terminal {
        width: 95vw; /* Breite auf 95% des Viewports setzen */
        padding: 10px; /* Weniger Padding */
    }

    .bigAsciiArt {
        font-size: large; /* Größere Schriftgröße für ASCII-Art */
    }

    .firstHelpText {
        font-size: medium; /* Kleinere Schriftgröße */
    }

    input {
        font-size: medium; /* Kleinere Schriftgröße für das Eingabefeld */
    }

    #output {
        max-height: 400px; /* Maximale Höhe für den Ausgabebereich */
        overflow: hidden; /* Überlaufende Inhalte ausblenden */
        word-wrap: break-word; /* Lange Wörter umbrochen */
        white-space: pre-wrap; /* Vorhandene Zeilenumbrüche beibehalten */
    }
}
